<a href="https://colab.research.google.com/github/disha9213/Python-Summer-Training/blob/main/Chapter2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Lists :mutable, easy to use
a=[1,2,3,4,'hello',True]
type(a)

list

In [ ]:
#indexing
print(a[4])

hello

In [ ]:
a=[1,2,3,[1,2,3,'hello'],'rahul']
print(a[3][3])
print(a[3][3][1])

hello
e

In [ ]:
#slicing
a=[1,2,3,4,5,6,7]
print(a[2:5])
print(a[2:5:2])

[3, 4, 5]
[3, 5]

In [ ]:
#Concatenate:common element will repeat
a=[1,2,3,4,5]
b=[4,5,6,7]
# always store in a variable bcz it is temporary if we directly print a+b
c=a+b
print(c)

[1, 2, 3, 4, 5, 4, 5, 6, 7]

In [ ]:
#Append method : permanently add method
a=[1,2,3,4,5]
a.append('rahul')
print(a)

[1, 2, 3, 4, 5, 'rahul']

In [ ]:
#b is added as last element
a=[1,2,3,4,5]
b=[3,4,5,6]
a.append(b)
print(a)

[1, 2, 3, 4, 5, [3, 4, 5, 6]]

In [ ]:
#EXTEND :Elements of b are added
a=[1,2,3,4,5]
b=[3,4,5,6]
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 3, 4, 5, 6]

In [ ]:
#length :start from 1
a=[1,2,3,4,5,6]
print(len(a))

6

In [ ]:
#min method
#max method
#sum

In [ ]:
# SORTED FUNCTION
a=[1,2,3,4,100,99]
print(sorted(a))
print(sorted(a,reverse = True))

[1, 2, 3, 4, 99, 100]
[100, 99, 4, 3, 2, 1]

In [ ]:
#POP OR REMOVE METHOD
#Pop is used when we know the index value
a=[1,2,3,4,5,'rahul','mohan']
a.pop(6)

'mohan'

In [ ]:
# remove method is used while using the element and only the first mohan will be deleted if there are more than 1 mohan
a=[1,2,3,4,5,'rahul','mohan','mohan']
a.remove('mohan')
print(a)

[1, 2, 3, 4, 5, 'rahul', 'mohan']

SORT METHOD
COUNT METHOD BY YOUR OWN

In [ ]:
#REVERSE METHOD
a=[1,2,0,100]
a.reverse()
print(a)

[100, 0, 2, 1]

In [ ]:
#using palindrome method
a=[1,2,0,100]
a[::-1]

[100, 0, 2, 1]

In [ ]:
#TUPLES : formed using () : immutable(cannot change): indexing is possible :slicng is also possible
a =(1,2,3,4)
type(a)

tuple

In [ ]:
#SLICING
a =(1,2,3,4)
print(a[0:])

(1, 2, 3, 4)

In [ ]:
#not possible : CONVERT THE TUPLE INTO LIST AND THEN REMOVE OR REPLACE THE ELEMENT THEN CONVERT THE LIST INTO TUPLE
a =(1,2,3,4)
a[0] = 100
print(a)

TypeError: 'tuple' object does not support item assignment

In [ ]:
#ZIP METHOD
#ignore the sohan
a=['rahul','mohan','sohan']
b=['singh','kumar']
#list is used bcz it will give python directory
print(list(zip(a,b)))

[('rahul', 'singh'), ('mohan', 'kumar')]

In [ ]:
#SETS : cannot have duplicate values :unordered collection therefore no INDEXING
a= set() #empty set
a =[] #empty list
a = (,) #empty tuple

In [ ]:
a={1,2,3,4,5}
print(a[0]) #not possible it will give error

In [ ]:
#ADD METHOD
a={1,2,3,4,5}
a.add('rahul')
print(a)

{1, 2, 3, 4, 5, 'rahul'}

In [ ]:
#Update method
a ={1,2,3,4,5}
b={4,5,6}
a.update(b)
print(a)

{1, 2, 3, 4, 5, 6}

In [ ]:
#WE USE REMOVE METHOD FOR THE SET NOT POP METHOD
a={1, 2, 3, 4, 5, 'rahul'}
a.remove(3)
print(a)

{1, 2, 4, 5, 'rahul'}

In [ ]:
a={1, 2, 3, 4, 5, 'rahul','Rahul'}
print(a)

{1, 2, 3, 4, 5, 'Rahul', 'rahul'}

In [ ]:
#UNION METHOD: NO DUBLICATE ->> joins

In [ ]:
#INTERSECTION : COMMON ELEMENTS
#DIFFERENCE ->>> a-b ;b-a
#SYMMETRIC DIFFERENCE ->>> denoted by a^b

In [ ]:
#DICTIONARIES
#key: value ->> key(unique)
a = {'name':'mohan','gender':'male'}
type(a)
print(a.values())
print(a.keys())

dict_values(['mohan', 'male'])
dict_keys(['name', 'gender'])

In [ ]:
#indexing
a = {'name':'mohan','gender':'male'}
print(a['name'])
print(a['gender'])

mohan
male

In [ ]:
#to find the keys using values is difficult but vice versa is possible bcz keys are unique

In [ ]:
#items: divide the keys and values

In [ ]:
a['name']='rahul'  #change the values of key
print(a)

{'name': 'rahul', 'gender': 'male'}

In [ ]:
a['Name'] = 'rahul' #it will add as key = Name
print(a)

{'name': 'rahul', 'gender': 'male', 'Name': 'rahul'}

In [ ]:
#Adding two dictionaries
b= {'city' :'delhi','age':20,'name':'shyam'}
a.update(b)
print(a)

{'name': 'shyam', 'gender': 'male', 'Name': 'rahul', 'city': 'delhi', 'age': 20}

In [ ]:
#making dic of 2 lists
country_list = ['India','usa','uk']
city_last = ['ND' ,'Canberrra','london']
print(dict(zip(country_list,city_last)))

{'India': 'ND', 'usa': 'Canberrra', 'uk': 'london'}

In [ ]:
#if-else conditional statements
#EVEN AND ODD
x=5
if(x%2 == 0):
  print("Even")
else:
  print("odd")

odd

In [ ]:
#for loop
a = ['India','usa','uk']
for i in a:
  print(f'Welcome {i}')

Welcome India
Welcome usa
Welcome uk

In [ ]:
a = [1,2,3,4,5,6,7,8,9]
b= []
for i in a:
 # print(f'Square of {i} = {i*i}')
  b.append(i*i)
print(b)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
#Prime number (1-100)
#Fibonacci Series  ->>>> hw

In [ ]:
#SQUARE OF EVEN NUMBER
a= [1,2,3,4,5,6,7,8,9]
for i in a:
  if i%2 == 0:
    print("Square ",i*i)
  else:
    print("Cube",i**3)

Cube 1
Square  4
Cube 27
Square  16
Cube 125
Square  36
Cube 343
Square  64
Cube 729

In [ ]:
#Store even and odd no in diff variable
a= [1,2,3,4,5,6,7,8,9]
b = []
c= []
for i in a:
  if i%2 == 0:
    #print("Square ",i*i)
    b.append(i*i)
  else:
    #print("Cube",i**3)
    c.append(i**3)
print(b)
print(c)

[4, 16, 36, 64]
[1, 27, 125, 343, 729]

In [ ]:
#Range  method
a =list(range(1,101))
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [ ]:
#SUM OF SQUARE OF EVEN NUMBER
a= [1,2,3,4,5,6,7,8,9]
even_list = 0
for i in a:
  even_list = even_list + i**2
print(even_list)

285

In [ ]:
a = "I am dp"
for i in a:
  print(i)

I

a
m

d
p

In [ ]:
a = "I am dp"
for i in a:
  if i not in ['a','d']:  #if only want a and d then remove "not"
    print(i)

I

m

p

In [ ]:
#making word as the element
a = "I am dp"
a.split()

['I', 'am', 'dp']

In [ ]:
a = "I am dp"
L = a.split()
for i in L:
  print(i[0])  # for last element of each word = -1

I
a
d

In [ ]:
days = ['Monday','Tuesday','Wednesday','Thrusday','Friday','Saturday','Sunday']
for i in days:
  print(i[:-3])
#OR USE REPLACE METHOD
for i in days:
  print(i.replace('day',''))

Mon
Tues
Wednes
Thrus
Fri
Satur
Sun
Mon
Tues
Wednes
Thrus
Fri
Satur
Sun

In [ ]:
#while loop
while a<15:
  print(a)
  a = a+1
else:
  print('Done')

10
11
12
13
14
Done