<a href="https://colab.research.google.com/github/disha9213/Python-Summer-Training/blob/main/Chapter_3ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Outliner: majority of the dataset is similar except one
''' example ->> salary of the 3 employees is is 50000 and of 1 employee is 1 lakh ,if a new employee has to be hired then its salary cannot be the median of all ; we will take mode in this case'''

In [ ]:
#fill the null values with mean ,median and mode
#filling null values is better then deleting null values

In [ ]:
#List Comprehension :converting single line for loop into the line comprehension ;sigle line equation
list_of_numbers = [1,2,3,4,6,7,23]
k = []
for i in list_of_numbers:
  k.append(i**2)
print(k)

In [ ]:
list_of_numbers = [1,2,3,4,6,7,23]
k = [i**2 for i in list_of_numbers]
print(k)

[1, 4, 9, 16, 36, 49, 529]

In [ ]:
#square of even no
list_of_numbers = [1,2,3,4,6,7,23]

k = [i**2 for i in list_of_numbers if i%2 == 0 ]
print(k)

[4, 16, 36]

In [ ]:
#square of even no and cube of odd
list_of_numbers = [1,2,3,4,6,7,9]

k = [i**2 if i%2 == 0 else i**3 for i in list_of_numbers ]
print(k)

[1, 4, 27, 16, 36, 343, 729]

In [ ]:
#Set Comprehension
k = {i**2 if i%2 == 0 else i**3 for i in list_of_numbers }
print(k)

{1, 4, 36, 16, 343, 729, 27}

In [ ]:
#First letter of the word using set comprehension
a = "I am dp.My hobbies are painting"
L = a.split()
k= {i[0] for i in L}
print(k)

{'I', 'M'}

In [ ]:
#First letter of the sentence using set comprehension
a = "I am dp.My hobbies are painting"
L = a.split('.')
k= {i[0] for i in L}
print(k)

{'I', 'M'}

In [ ]:
#Factorial of 10
num=10
b=1
for i in range(1,num+1):
  b*=i
print(b)

3628800

**FUNCTIONS**

In [ ]:
#FUNCTIONS
# def fe(n):
#   a= list(range(1,n+1))
#   print(a)
#   fec = 1
#   for i in range(1, n+1):
#     fec = fec+1
#   print(fec)

  def fact(x):
    factx=1
    for i in range(1,x+1):
      factx = factx*i
    return factx
  fact(3)
  print(fact)

In [ ]:
#Example: let us write a func which takes a date as a string and prints the quater as output

def fact(sample_date):
month = int(date_str.split('-')[1])

    if  month in [1,2,3]:
      print("Jan-March")
    elif month in [4,5,6] :
      print("April-june")
    elif month in [7,8,9]:
      print("July-Sep")
    elif month in [10,11,12] :
      print("Oct-dec")
    else:
      print("Invalid Input")
sample_date = '2020-07-01'
print_quarter(sample_date)

In [ ]:
#Add the 100 at the 3 index without using insert
a = [1,2,3,4,5]  #expected:[1,2,3,100,4,5]
new_a=a[0:3]
new_a2 =a[3:]
print(new_a)
print(new_a2)
value = [100]
final_a = new_a+value+new_a2
print(final_a)
#OR
a = [1,2,3,4,5]
value = 100
index = 3
a = a[0:index] +[value] +a[index:]
print(a)

In [ ]:
#CLASS
class <classname>():
  def__init__(self,arg1,arg2.....):
    make attribute of the Argument

    method 1
    def method_name(self):
      return desired_output

    method 2
    def method_name(self):
      return desired_output

    method 3
       def method_name(self):
      return desired_output

In [ ]:
class bpit:
  def __init__(self,name,age):
    self.name = name
    self.age = age
  def student_name(self):  #self is used to call the above attribute
    print(f'This is bpit class and name of student is : {self.name}')
  def student_name(self):
    print(f'This is bpit class and age of student is : {self.age}')
  b= bpit(name = 'rahul', age ='20')
  b.student_name()

In [ ]:
#Area of circle
def area(r):
  return 3.14*r*r
area(3)

In [1]:
#Circumference of circle
def circumference(r):
  return 2*3.14*r
circumference(3)

18.84

In [ ]:
#Method
#AREA AND CIRCUMFERENCE USING METHOD FROM SIR NOTES